
body{
	font-family: 'Allerta', sans-serif;
	margin: 0; 
}
li{
	display: inline-block;
}
article{
	display: inline-block;
	width: 30%;
}
.contenedor{
	width: 80%;
	margin: auto;
	position: relative;

}
.header{
	display: flex;
	justify-content: space-between;
	width: 100%;
	background: #273b47;
	height: 54px;
	padding: 5px 0;
	
}
.logotipo{
	width: 89px;
	padding: 12px;

}


.enlace, .button{
	text-decoration: none;
	color: white;
	padding: 8px;
	margin: 0 10px;
}
.a:after{
	content: "";
	border-right:  1px solid white;
	padding: 8px;

}
.button{
	border: 1px solid red;
	margin-right: 40px;
	margin-left: 30px;
	border-radius: 6px;
	background: red;
}
.button:hover{
	background:#7dcd40;
	border: 1px solid #7dcd40;

}
.portada{
	background: #efefef
}
.portada .contenedor{
	background-image: url(images/portada.jpg);
	height: 560px;
	margin-top: 40px;

}
.data{
	background: rgba(255,255,255,0.8);
	width: 40%;
	position: absolute;
	bottom: 35px;
    left: 20px;
    padding: 25px;
}
.data h2{
	margin: 0;
}
.footerdata,.footerarticle{
	display: flex;
	justify-content: space-between;
	border-top: 1px solid grey;
}
.footerdata{
	margin-top: 20px;
	
	padding-top: 15px;
}

.img-art{
	width: 100%;
}
.row1{
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}
.footer{
	display: flex;
	justify-content: center;
	margin: 15px 0;
}

.footer span, .actual,.sgte{
	text-decoration: none;
	color: black;
	padding: 8px 14px;

}
.footer span, .actual{
	margin: 0;

}
.sgte{
	background: #eaeaea;
	border: 1px solid #ccc;
	margin: 0 10px;
	font-weight: bold;
}


